<%- include("partials/header") -%>

<!-- Jobs Section -->

<section class="colored-section" id="subjects">

  <h3 class="subject-prompt">Start here: What are you interested in?</h3>

  <div class="container-fluid">

    <!-- First line -->

    <div class="row">
      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-globe-americas icon2 fa-4x"></i>
        <h3 class="feature-text">Geography</h3>

      </div>

      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-book icon2 fa-4x"></i>
        <h3 class="feature-text">English</h3>

      </div>

      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-laptop-code icon2 fa-4x"></i>
        <h3 class="feature-text">Digital Science</h3>

      </div>

      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-plane icon2 fa-4x"></i>
        <h3 class="feature-text">Tourism</h3>

      </div>

    </div>

    <!-- Second line -->

    <div class="row">

      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-dollar-sign icon2 fa-4x"></i>
        <h3 class="feature-text">Economics</h3>

      </div>

      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-square-root-alt icon2 fa-4x"></i>
        <h3 class="feature-text">Maths</h3>

      </div>

      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-volleyball-ball icon2 fa-4x"></i>
        <h3 class="feature-text">PE</h3>

      </div>

      <div class="feature-box col-sm-6 col-lg-3">
        <i class="fas fa-music icon2 fa-4x"></i>
        <h3 class="feature-text">Music</h3>

      </div>

    </div>
  </div>




</section>

<section>



<% interviews.forEach(function(interview){ %>
<div class="feature-box col-lg-6 job-description">
  <div class="video">
    <%=interview.video%>
  </div>
  <h3 class="feature-text"><%=interview.title%></h3>
  <p><%=interview.blurb%></p>
  <br>
  <p><%=interview.soundCloud%></p>

</div>
<% }) %>

</section>

<%- include("partials/footer") -%>
